#up {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#up li {
    float: left;
}

#up a {
    display: block;
    padding: 14px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#up a:hover {
    background-color: #757575;
}

#up li #home {
    color: rgb(219, 250, 201);
}

#studio-name {
    margin: 0%;
    font-size: 9px;
    text-align: center;
}

#studio-title-b {
    font-size: 40%;
}

#footer {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 80%;
    color: #8a8a8a;
    float: inline-end;
}

#footer #lt { 
    float: left;
}

#footer #rt {
    float: right;
}

#is_newS {
    margin-top: 7%;
    margin-left: 30%;
}

#newS {
    margin-left: 5%;
}

#newS .newSdate {
    font-size: 80%;
    color: rgb(219, 250, 201);
}

#newS .newSdate:hover {
    color: black;
}