#up {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#up li {
    float: left;
}

#up a {
    display: block;
    padding: 14px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#up a:hover {
    background-color: #757575;
}

#up li #home {
    color: rgb(219, 250, 201);
}

#footText {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 80%;
    color: #8a8a8a;
    float: inline-end;
}

#footText #t1 {
    
    float: left;
}

#footText #t2 {
    float: right;
}

#product-all #product-show ul button {
    margin-left: 3%;
    width: 90%;
    height: 45px;
    box-shadow: 1px 2px #333;
    color:rgb(26, 26, 26);
    font-family: '微软雅黑';
    background-color: #f5fc90;
}

#product-all #product-show ul button p {
    float: left;
}

#product-all #product-show ul button:hover {
    box-shadow: 1px 2px 10px #333;
}

#product-all #pj {
    float: left;
}

#product-all #product-show #product-show-web {
    display: none;
}

#NaiTap.Web.Studio {color: NaiTap Studio;}