#title {
    margin-left: 5%;
    font-weight: 100;
}

#pdName {
    font-weight: 500;
    font-size: 125%;
}

#intrd {
    margin-top: -15px;
}

#pfiles {
    font-size: 80%;
    color: rgb(31, 31, 31);
}

#p {
    margin-left: 5%;
}